[Desktop Entry]
Version=1.0
Name=abcderip
Comment=Rip with ABCDE
Exec=/home/jack/.local/share/applications/cdrip.sh %f
Icon=
Terminal=true
Type=Application
Categories=Audio;
